<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error</title>
    <link th:href="@{webjars/bootstrap/5.1.2/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:href="@{webjars/jquery/3.6.0/js/jquery.min.js}"></script>
    <script th:href="@{webjars/bootstrap/5.1.2/js/bootstrap.min.js}"></script>
</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Error</h1>

        <br>

    <div>
    Session Timeout or Unexpected Error Occurred
    </div>

    <br>

    <div>
    Please contact your administrator.
    </div>
    <div th:if="contactInfo != ''" th:utext="${contactInfo}"></div>

    <br>

    <a th:href="@{/logout}">top</a>

    </main>
</div>

</body>
