<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Menu</title>
<link th:href="@{css/common2.css}" rel="stylesheet" />
<link th:href="@{css/index.css}" rel="stylesheet" />
<script th:href="@{webjars/jquery/3.6.0/js/jquery.min.js}"></script>
<script th:href="@{webjars/bootstrap/5.1.2/js/bootstrap.min.js}"></script>
</head>

<body class="text-center">


  <div id="index" class="content">

    <h1>JWT-SERVER</h1>

    <div class="block">
      <div class="menu">
        <ul>
          <li class="btn triple">
            <form method="post" name="passform" action="passphrase">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <a href="javascript:passform.submit()" role="button">Generate and Store a JSON Web Token</a>
            </form>
          </li>
        </ul>
      </div>
    </div>

    <br>
    <br>

    <details>
    <summary>Advanced Menu</summary>
    <div class="block">
      <div class="menu menu2">
        <ul>
          <li class="btn triple">
            <a href="issues" role="button">Date of Issue</a>
          </li>
          <li class="btn triple">
            <a href="errors" role="button">Authentication Errors</a>
          </li>
          <li class="btn triple">
            <a href="logout" role="button" onclick="return confirm('Invalidate your all tokens?');">Invalidate All Tokens</a>
          </li>
        </ul>
      </div>
    </div>
    </details>

    <br>
    <br>
    <div class="version">
      version <span th:text="${version}"></span>
    </div>
  </div>

</body>
