<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Passphrase</title>
    <link th:href="@{css/common2.css}" rel="stylesheet" />
    <link th:href="@{css/index.css}" rel="stylesheet" />    
    <link th:href="@{webjars/bootstrap/5.1.2/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:href="@{webjars/jquery/3.6.0/js/jquery.min.js}"></script>
    <script th:href="@{webjars/bootstrap/5.1.2/js/bootstrap.min.js}"></script>
</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Passphrase</h1>

        <br>
 		<br>
 		<span class="h3">HPCI-ID : </span> <span class="h2" th:text="${user}"></span>
 		<br>
 		<br>
 		
 		<div class="box13">
        <p class="h1 passphrase" th:text="${passphrase}"></p>
        </div>
        
        <br>
        
        <span class="h3">Usage: jwt-agent -s </span><span class="h3" th:text="${uri}"> </span><span class="h3"> -l </span><span class="h2" th:text="${user}"></span>
        <br>
        <br>
        
        <div class="attention">
        This passphrase is only available on this page.  When you leave
        this page, you will not be able to see it again and will need to
        regenerate a refresh token.
        </div>
		<br>
		
        <a href="menu">back</a>
    </main>
</div>

</body>
