<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link th:href="@{webjars/bootstrap/5.1.2/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:href="@{webjars/jquery/3.6.0/js/jquery.min.js}"></script>
    <script th:href="@{webjars/bootstrap/5.1.2/js/bootstrap.min.js}"></script>
</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Passphrase</h1>

 		<br>
 		
        <p class="h1 text-light bg-info" th:text="${passphrase}"></p>

		<br>
		
        <a href="/">back</a>
    </main>
</div>

</body>
